{% extends "base_manager.html" %}
    
    {% block title %} Edit Product {% endblock %}
    
    {% block content %}
    <div class="container py-4 py-xl-5 mx-auto col-xl-3">
        <h1>Edit Product</h1>
        <br>
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="product_name" value="{{product[0]}}"aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" name="category" value="{{product[1]}}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" name="quantity" value="{{product[2]}}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Price per piece</label>
                <input type="number" step="0.01" class="form-control" name="price" value="{{product[3]}}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Unit</label>
                <input type="text" class="form-control" name="unit" value="{{product[4]}}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Manufacture Date</label>
                <input type="date" class="form-control" name="manufacture_date" value="{{product[5]}}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Expiry Date</label>
                <input type="date" class="form-control" name="expiry_date" value="{{product[6]}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Confirm Edits</button>
          </form>
    </div>
      
      {% endblock %}