{% extends "base_user.html" %}
    
    {% block style %}
    <style>
        .order-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin-top: 50px;
        }
        .card:hover {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.305);
        }
        .order-title {
            font-size: 24px;
            margin-bottom: 15px;
        }
        .item-list {
            list-style: none;
            padding: 0;
        }
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: #f8f9fa;
        }
        .item-name {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .item-quantity {
            font-size: 16px;
            color: #6c757d;
        }
        .total-price {
            font-size: 24px;
            margin-top: 20px;
        }
        .back-btn {
            margin-top: 20px;
        }
    </style>
    {% endblock %}
    
    {% block title %} Order Confirmation {% endblock %}    
    
    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 order-card">
                <h2 class="order-title">Order Confirmation</h2>
                <ul class="item-list">
                    {% for item in cart_items %}
                    <li class="item">
                        <span class="item-name">{{ item[0] }}</span>
                        <span class="item-quantity">Quantity: {{ item[2] }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <p class="total-price">Total Price: ₹{{ totalPrice }}</p>
                <a href="/" class="btn btn-primary back-btn">Back to Home</a>
            </div>
        </div>
    </div>
    {% endblock %}
