{% extends 'base_user.html' %}

{% block title %}Sign Up{% endblock %}
    
    {% block content %}
    <div class="container py-4 py-xl-5 mx-auto col-xl-3">
        <form method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="username" class="form-control" name="name" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Phone Number</label>
                <input type="username" class="form-control" name="phoneno" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="Address" class="form-label">Address</label>
                <input type="username" class="form-control" name="address" aria-describedby="emailHelp" required>
                </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="username" class="form-control" name="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
    {% endblock %}
